*{
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    display: flex;
    justify-content: center;
}

h2{
  text-align: center;
}

.main{
  border: 0.5px solid;
  max-width: 500px;
  max-height: auto;
  text-align: center;
}

.main > button{
  margin-bottom: 10px;
  border-radius: 8px;
  border: 0.5px solid;
}

.main > p,h3{
  padding: 10px;
}